<script>
  import { onMount } from "svelte";
  import Site from "./Site.svelte";
  import Sites from "./Sites.svelte";
  import User from "./User.svelte";
  import Users from "./Users.svelte";
  import Login from "./Login.svelte";
  import Header from "./Header.svelte";
  import { cookies } from './Cookies.js';

  let sites;
  let site;
  let users;
  let user;
  let header;
  let login
  let token = cookies.getCookie("zpinger_auth");
</script>


<svelte:head>
  	<title>zPinger</title>
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
</svelte:head>

<Header {header}/>

<Login {login} />

{#if token}
	<main>
		<h1>Sites</h1>
		<Sites {sites} />

		<h1>Account</h1>
		<Users {users} />
	</main>
{/if}


<style>
  main {
    background-color: #333;
    font-size: 15px;
    color: whitesmoke;
  }
  h1 {
    font-size: 25px;
    margin: 30px 0 15px;
  }
</style>