<div class="header">
   <h1>zPinger</h1>
</div>

<style>
    .header {
        height: 65px;
        width: 100%;
        background-color: #222;
        padding: 15px;
    }

    .header h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0 auto;
        max-width: 1028px;
        padding: 0 12px;
    }
</style>