<script>
  import { onMount } from "svelte";
  import { form } from 'svelte-forms';
  import { cookies } from './Cookies.js';
  import { Textfield, Button, Icon } from 'svelte-mui';

    let user;
    let pass;
    let username;
    let userpass;
    let userEmail;
    let token = cookies.getCookie("zpinger_auth");
    let login;

    const loginForm = form(() => ({
        user: { value: user, validators: ["required", "min:6"]},
        pass: { value: pass, validators: ["required", "min:6"]}
    }));

    const registerForm = form(() => ({
        username: { value: username, validators: ["required", "min:6"]},
        userpass: { value: userpass, validators: ["required", "min:6"]},
        userEmail: { value: userEmail, validators: ["required", "min:6"]}
    }));

    function loginHandler() {
        let newToken = null;

        var formdata = new FormData();
        formdata.append("user", user);
        formdata.append("pass", pass);

        var requestOptions = {
            method: 'POST',
            body: formdata
        };

        fetch("API_URL" + "/login", requestOptions)
        .then(response => response.json())
        .then(data => {
            console.log(data);
            newToken = data.token;
            cookies.deleteCookie("zpinger_auth");
            cookies.setCookie("zpinger_auth", newToken);
            window.location.reload();
        })
        .catch(err => console.log('error', err));
    }

    function logoutHandler() {
        cookies.deleteCookie("zpinger_auth");
        window.location.reload();
    }


    function registerHandler() {
        var formdata = new FormData();

        formdata.append('username', username);
        formdata.append('password', userpass);
        formdata.append('email', userEmail);

        console.log(username + ", " + userpass + ", " + userEmail);
        for (var key of formdata.entries()) {
			console.log(key[0] + ', ' + key[1])
		}

        var requestOptions = {
            method: 'POST',
            body: formdata
        };

        fetch("API_URL" + "/api/user", requestOptions)
        .then(response => response.json())
        .then(data => {
            document.getElementById("registered").style.display = 'block';
        })
        .catch(err => console.log('error', err));
    }

    // function submitRegister() {
    //     document.getElementById("register").submit();
    // }

    function confirmUser() {
        const params = new URLSearchParams(window.location.search)
        if (params.has('confirm')) {
            var confirmKey = params.get('confirm')

            var requestOptions = {
                method: 'POST'
            };

            fetch("API_URL" + "/api/user/confirm/" + confirmKey, requestOptions)
            .then(response => response.json())
            .then(data => {
                document.getElementById("confirm").style.display = 'block';
                //window.location.reload();
            })
            .catch(
                err => console.log('error', err)
            );
        }
    }

    confirmUser();



onMount(async () => {

})

</script>
{#if token}
<div class="welcome">
    <p>Welcome!</p>
    <Button outlined=true ripple=true color='#da7777' on:click={logoutHandler}>
        Logout
        <!-- right icon -->
        <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
    </Button>
</div>

{:else}

<div style="display: none" id="confirm">
    Your account has been activated!
</div>

<form id="login" on:submit|preventDefault={loginHandler}>
<h2>Login</h2>
    <Textfield
    autocomplete="off"
    label="Username"
    required
    filled=true
    bind:value={user}
    message="Your username"
    />

    <Textfield
    autocomplete="off"
    label="Password"
    required
    filled=true
    bind:value={pass}
    message="Your password"
    type=password
    />

    <!-- <input type="text" placeholder="Username" bind:value={user} />
    <input type="text" placeholder="Password" bind:value={pass} /> -->

    {#if $loginForm.user.errors.includes('required') }
        <p>Username is required</p>
    {/if}

    {#if $loginForm.pass.errors.includes('required') }
        <p>Password is required.</p>
    {/if}

    <Button class=loginButton outlined=true ripple=true color='#00796b'>
        Login
        <!-- right icon -->
        <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
    </Button>

</form>


<form id="register" on:submit|preventDefault={registerHandler}>
<h2>Register</h2>
    <Textfield
    autocomplete="off"
    label="Username"
    required
    filled=true
    bind:value={username}
    message="Set username"
    />

    <Textfield
    autocomplete="off"
    label="Password"
    required
    filled=true
    bind:value={userpass}
    message="Set password"
    type=password
    />

    <Textfield
    autocomplete="off"
    label="Email"
    required
    filled=true
    bind:value={userEmail}
    message="Email address"
    type=email
    />

    <!-- <input type="text" placeholder="Username" bind:value={user} />
    <input type="text" placeholder="Password" bind:value={pass} /> -->

    {#if $registerForm.username.errors.includes('required') }
        <p>Username of at least 6 characters is required.</p>
    {/if}

    {#if $registerForm.userpass.errors.includes('min') }
        <p>Password of at least 6 characters is required.</p>
    {/if}

    <Button class=loginButton outlined=true ripple=true color='#00796b' type="submit">
        Register
        <!-- right icon -->
        <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
    </Button>

</form>
<div style="display: none" id="registered">Thank you for registering. Check your email to activate.</div>
{/if}

<style>

form {
    margin: 30px auto;
    max-width: 800px;
    margin-bottom: 60px;
}

.welcome {
    margin: 30px auto;
    max-width: 1028px;
    padding: 0 12px;
}

.welcome p {
    float: left;
    bottom: -8px;
    position: relative;
    width: 100px;
}

:global(button.loginButton) {
	float: right;
}

:global(.text-field .input-line, .text-field .input-line, .text-field .label, .text-field .message, .text-field input) {
	color: whitesmoke !important;
}

:global(.baseline input) {
	background: #434343;
}

#confirm, #registered {
    padding: 30px;
    color: lightgreen;
    margin: 30px auto;
    max-width: 800px;
    border: 1px solid #555;
    background: #444;
}

#registered {
    margin-top: 60px;
}

form h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

</style>
