<script>
    import { ExpansionPanel, Icon, Textfield, Button, Dialog } from 'svelte-mui';
    import { cookies } from './Cookies.js';
    export let site;

    const onchage = ({ detail }) => {
        console.log(detail.expanded ? 'open' : 'close', detail.name);
    };
     
    let group = '';

    export let visible = false;
    let siteName;
    let siteURL;
    let siteServer

    function showEditor() {
        visible = true
    }

    function siteEditorHandler() {
        let token = cookies.getCookie("zpinger_auth");
        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Bearer " + token);

        var formdata = new FormData();
        formdata.append("name", siteName);
        formdata.append("url", siteURL);
        formdata.append("server", siteServer);

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: formdata
        };

        fetch("API_URL" + "/api/site/" + site.ID, requestOptions)
        .then(response => response.json())
        .then(data => {
            //window.location.reload();
        })
        .catch(err => console.log('error', err));
    }

    function deleteSite() {
        if (confirm("Are you sure?")) {
            let token = cookies.getCookie("zpinger_auth");
            var myHeaders = new Headers();
            myHeaders.append("Authorization", "Bearer " + token);

            var formdata = new FormData();
            formdata.append("name", site.name);

            var requestOptions = {
                method: 'DELETE',
                headers: myHeaders,
                body: formdata
            };

            fetch("API_URL" + "/api/site/" + site.ID, requestOptions)
            .then(response => response.text())
            .then(data => {
                //window.location.reload();
            })
            .catch(err => console.log('error', err));
        }
    }

    // function submitSiteEdit() {
    //     document.getElementById("site-editor").submit()
    // }



</script>

<div class="container">
    <ExpansionPanel name="{site.name} ({site.url})" bind:group on:change={onchage}>
        <div slot="icon">
            <Icon>
                <svg class="bi bi-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </Icon>
        </div>
        <div>
            <p>URL: <a href="{site.url}">{site.url}</a> </p>      
            <p>Server: {site.server}</p>

            <Button class=editButton outlined=true ripple=true color='#00796b' on:click={showEditor}>
                Edit
                <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
            </Button>
            <Button class=editButton outlined=true ripple=true color='red' on:click={deleteSite}>
                Delete
                <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
            </Button>
            
        </div>
    </ExpansionPanel>

    <Dialog width="290" bind:visible>
        <div slot="title"> Edit {site.name}</div>
        <form id="login" on:submit|preventDefault={siteEditorHandler}>
        <Textfield
            autocomplete="off"
            label="Name"
            filled=true
            bind:value={siteName}
            placeholder={site.name}
        />

        <Textfield
            autocomplete="off"
            label="URL"
            filled=true
            bind:value={siteURL}
            placeholder={site.url}
        />

        <Textfield
            autocomplete="off"
            label="Server"
            filled=true
            bind:value={siteServer}
            placeholder={site.server}
        />
                
        <Button class=editButton outlined=true ripple=true color='#00796b'>
            Edit
            <!-- right icon -->
            <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
        </Button>
        </form>

    </Dialog>
</div>

<style>

.container {
    background-color: #333;
    border-radius: 4px;
    clear: both;
}

.container .bi-circle-fill {
    color: mediumturquoise;
    width: 12px;
}

:global(.panel, .dialog) {
	--label: #ccc;
	--color: #333333;
    --primary: #333333;
    --bg-color: #222222;
    --bg-panel: #222222;
    border-bottom: 2px solid #333;
}

:global(.panel button.editButton) {
    margin-left: 10px;
}

:global(button.editButton) {
    float: right;
}

:global(.dialog .editButton) {
    margin-bottom: 15px;
}

:global(.dialog .title) {
    font-size: 18px !important;
    line-height: 24px !important;
    background: #333333 !important;
}

</style>