<script>
  import { onMount } from "svelte";
  import { Icon, Textfield, Button, Dialog } from 'svelte-mui';
  import Site from "./Site.svelte";
  import Login from "./Login.svelte"
  import { cookies } from './Cookies.js';
  // define the data holding variable
  let sites;
  let token = cookies.getCookie("zpinger_auth");

  var myHeaders = new Headers();

  myHeaders.append("Authorization", "Bearer " + token);

  var requestOptions = {
      headers: myHeaders
  }

  onMount(async () => {
    await fetch("API_URL" + `/api/site`, requestOptions)
      .then(r => r.json())
      .then(data => {
        sites = data;
      });
  })

  export let visible = false;
  let siteName;
  let siteURL;
  let siteServer

  function showEditor() {
      visible = true
  }
  
  function siteAddHandler() {

        var formdata = new FormData();
        formdata.append("name", siteName);
        formdata.append("url", siteURL);
        formdata.append("server", siteServer);

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: formdata
        };

        fetch("API_URL" + "/api/site", requestOptions)
        .then(response => response.json())
        .then(data => {
            //window.location.reload();
        })
        .catch(err => console.log('error', err));
  }

</script>

<Button class=addButton outlined=true ripple=true color='#00796b' on:click={showEditor}>
  Add site
  <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
</Button>

{#if sites}
  {#each sites as site }
    <ul>
      <li>    
        <Site {site} />
      </li>
    </ul>
  {/each}
{:else}
  <p class="loading">Nothing yet.</p>
{/if}


    <Dialog width="290" bind:visible>
      <div slot="title"> Add site</div>
      <form id="addSiteForm" on:submit|preventDefault={siteAddHandler}>
        <Textfield
            autocomplete="off"
            label="Name"
            filled=true
            bind:value={siteName}
            required
        />

        <Textfield
            autocomplete="off"
            label="URL"
            filled=true
            bind:value={siteURL}
            required
        />

        <Textfield
            autocomplete="off"
            label="Server"
            filled=true
            bind:value={siteServer}
        />
                
        <Button class=addButton outlined=true ripple=true color='#00796b'>
            Add
            <!-- right icon -->
            <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
        </Button>
      </form>

    </Dialog>

<style>
  .loading {
    opacity: 0;
    animation: 0.4s 0.8s forwards fade-in;
  }
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  :global(button.addButton) {
    float: right;
    margin-bottom: 15px !important;
  }
</style>