<script>
  import { ExpansionPanel, Icon, Textfield, Button, Dialog } from 'svelte-mui';
  import { cookies } from './Cookies.js';
  // create a prop
  export let user;

  let token = cookies.getCookie("zpinger_auth");
  var myHeaders = new Headers();

  myHeaders.append("Authorization", "Bearer " + token);

  const onchage = ({ detail }) => {
    console.log(detail.expanded ? 'open' : 'close', detail.name);
  };
     
  let group = '';

  export let visible = false;
  let username;
  let userpass;
  let userEmail;

  function showEditor() {
    visible = true
  }

  function userEditHandler() {
        var formdata = new FormData();
        formdata.append("username", username);
        formdata.append("password", userpass);
        formdata.append("email", userEmail);

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: formdata
        };

        fetch("API_URL" + "/api/user/" + user.ID, requestOptions)
        .then(response => response.json())
        .then(data => {
            //window.location.reload();
        })
        .catch(err => console.log('error', err));
  }

  function deleteUser() {
        if (confirm("Are you sure?")) {
          let token = cookies.getCookie("zpinger_auth");
          var myHeaders = new Headers();
          myHeaders.append("Authorization", "Bearer " + token);

          var formdata = new FormData();
          formdata.append("name", user.username);

          var requestOptions = {
              method: 'DELETE',
              headers: myHeaders,
              body: formdata
          };

          fetch("API_URL" + "/api/user/" + user.ID, requestOptions)
          .then(response => response.text())
          .then(data => {
              //window.location.reload();
          })
          .catch(err => console.log('error', err));
        }
    }
</script>

<div class="container">
    <ExpansionPanel name="{user.username}" bind:group on:change={onchage}>
        <div>
            <p>Email: {user.email}  </p>
            <p>ID: {user.ID} </p>

            <Button class=editButton outlined=true ripple=true color='#00796b' on:click={showEditor}>
                Edit
                <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
            </Button>
            <Button class=editButton outlined=true ripple=true color='red' on:click={deleteUser}>
                Delete
                <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
            </Button>
        </div>
    </ExpansionPanel>
</div>

<Dialog width="290" bind:visible>
      <div slot="title"> Edit user</div>
      <form id="userAddForm" on:submit|preventDefault={userEditHandler}>
        <Textfield
            autocomplete="off"
            label="Username"
            filled=true
            bind:value={username}
        />

        <Textfield
            autocomplete="off"
            label="Password"
            filled=true
            bind:value={userpass}
            type=password
        />

        <Textfield
            autocomplete="off"
            label="Email"
            filled=true
            bind:value={userEmail}
            type=email
        />
                
        <Button class=editButton outlined=true ripple=true color='#00796b'>
            Edit
            <!-- right icon -->
            <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
        </Button>
      </form>

</Dialog>

<style>

.container {
  clear: both;
}

</style>