<script>
  import { onMount } from "svelte";
  import { Icon, Textfield, Button, Dialog } from 'svelte-mui';
  import User from "./User.svelte";
  import Login from "./Login.svelte"
  import { cookies } from './Cookies.js';
  // define the data holding variable

  let users;
  let token = cookies.getCookie("zpinger_auth");
  var myHeaders = new Headers();

  myHeaders.append("Authorization", "Bearer " + token);

  var requestOptions = {
      headers: myHeaders
  }

  onMount(async () => {
    await fetch("API_URL" + `/api/user/`, requestOptions)
      .then(r => r.json())
      .then(data => {
        users = data;
      });
  })

  export let visible = false;
  let username;
  let userpass;
  let userEmail;

  function showEditor() {
      visible = true
  }

  function userAddHandler() {

        var formdata = new FormData();
        formdata.append("username", username);
        formdata.append("password", userpass);
        formdata.append("email", userEmail);

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: formdata
        };

        fetch("API_URL" + "/api/user", requestOptions)
        .then(response => response.json())
        .then(data => {
            //window.location.reload();
        })
        .catch(err => console.log('error', err));
  }

</script>

<Button class=addButton outlined=true ripple=true color='#00796b' on:click={showEditor}>
  Add user
  <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
</Button>

{#if users}
    {#each users as user }
        <User {user} />
    {/each}
{:else}
    <p class="loading">loading...</p>
{/if}


    <Dialog width="290" bind:visible>
      <div slot="title"> Add user</div>
      <form id="userAddForm" on:submit|preventDefault={userAddHandler}>
        <Textfield
            autocomplete="off"
            label="Username"
            filled=true
            bind:value={username}
            required
        />

        <Textfield
            autocomplete="off"
            label="Password"
            filled=true
            bind:value={userpass}
            type=password
            required
        />

        <Textfield
            autocomplete="off"
            label="Email"
            filled=true
            bind:value={userEmail}
            type=email
            required
        />
                
        <Button class=editButton outlined=true ripple=true color='#00796b'>
            Add
            <!-- right icon -->
            <Icon path="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" style="margin: 0 -4px 0 8px;" />
        </Button>
      </form>

    </Dialog>

<style>
  .loading {
    opacity: 0;
    animation: 0.4s 0.8s forwards fade-in;
  }
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  :global(button.addButton) {
    float: right;
    margin-bottom: 15px !important;
  }
</style>